data
node_modules
coverage
dll
release*
app/dist
test
flow-typed/npm
app/temp
app/static/plugins
app/main.prod*
app/static/devExtensions
*.swp
*.swo
*.log
*~
.tern-project
.eslintcache
jest.config.js
